body{
    background-image: url(https://static.vecteezy.com/system/resources/previews/002/375/040/original/modern-white-background-free-vector.jpg);
}

.myfont{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: auto;
    text-align: center;
    color: rgb(26, 33, 165);
    font-size: xx-large;
}

h2{
    font-family: monospace;
    color: brown;
    position: relative;
    font-size: larger;

}

h3{
    color: crimson;
}

h4{
    font-size: xx-large;
    color: blue;
}

h5{
    font-size: medium;
    text-align: center;
}
